.btn-modern {
    padding: 10px 20px;
    border: none;
    background-color: #3f51b5;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
  }
  
  .btn-modern:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    background-color: #2196f3;
    color: #fff;
  }
